html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Avenir-Roman, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  font-size: 1.3rem;
}
